@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.champPre {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 570px;
  background-color: rgb(0, 0, 0);
  padding-top: 4rem;
  transition: height 1s;
}

.container {
  width: 90%;
  max-width: 1000px;
}
.champPreDesc {
  display: flex;
  width: 80%;
  height: 150px;
  color: white;
  padding-top: 5%;
  transition: height 1s;
}
.champPre-title-wrapper {
  width: 1px;
  height: 110px;
  margin-top: 1rem;
  margin-right: 2rem;

  background-color: #d69d00cb;
}

.champPre-title {
  writing-mode: vertical-lr;
  font-size: 3px;
  font-weight: bold;
  color: #d69d00cb;
}

.champPreDesc-title {
  color: rgb(255, 196, 0);
  font-size: 1.5rem;
}
.champPreDesc-text {
  font-size: 0.7rem;
}
.champPreDesc-details {
  font-size: 0.5rem;
}
.slideWrapper {
  position: relative;
  top: -3rem;
  width: 100%;
}

.slide img {
  width: 13rem;
  margin: 8rem auto;
  border-radius: 5px;
}

.slide {
  transform: scale(0.3);
  transition: transform 0.3s;
  opacity: 0.6;
}

.activeSlide {
  transform: scale(2.7);
  transition: transform 0.3s;
  opacity: 1;
}

.activeSlide img:hover {
  cursor: pointer;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 400;
}

.arrow svg {
  transition: color 0.5s;
}

.arrow svg:hover {
  color: #d69d00;
}

.next {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.151);
  right: 3%;
  top: 38%;
}

.prev {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.151);
  left: 3%;
  top: 38%;
}

@media (min-width: 500px) and (max-width: 960px) {
  .champPre {
    width: 100%;
    height: 475px;
    transition: height 1s;
    background-color: black;
    justify-content: center;
    align-items: center;
    place-items: center;
  }
  .champPreDesc {
    width: 750px;
    color: white;
    padding-top: 5%;

    transition: height 1s;
  }
  .champPreDesc-title {
    color: rgb(255, 196, 0);
    font-size: 1.5rem;
  }
  .champPreDesc-text {
    width: 360px;
    font-size: 0.7rem;
  }
  .champPreDesc-details {
    font-size: 0.4rem;
  }
  .slide img {
    width: 20rem;
    margin: 5rem auto;
    border-radius: 10px;
  }
  .slide {
    transform: scale(0);
    transition: transform 0.2s;
  }

  .activeSlide {
    transform: scale(1);
    transition: transform 0.2s;
  }
  .next {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.267);
    right: 2.5%;
    top: 38%;
  }

  .prev {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.267);
    left: 1%;
    top: 38%;
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  .champPre {
    width: 100%;
    height: 400px;
  }
  .champPreDesc {
    width: 250px;
    color: white;
    padding-top: 3%;
    padding-left: 5%;
    transition: height 1s;
  }
  .champPreDesc-title {
    color: rgb(255, 196, 0);
    font-size: 1rem;
  }
  .champPreDesc-text {
    width: 250px;
    font-size: 0.8rem;
  }
  .champPreDesc-details {
    font-size: 0.4rem;
  }

  .slideWrapper {
    position: relative;
    bottom: 3rem;
  }
  .slide img {
    width: 250px;
    border-radius: 10px;
  }
  .slide {
    transform: scale(0);
    transition: transform 0.2s;
  }

  .activeSlide {
    transform: translateY(-4rem) scale(1.1);
    transition: transform 0.2s;
  }
  .next {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.267);
    right: 3%;
    top: 38%;
  }

  .prev {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.267);
    left: 3%;
    top: 38%;
  }
}
